# Requirements file for external linters and checks we run on
# Tools/clinic, Tools/cases_generator/, and Tools/peg_generator/ in CI
mypy==1.15.0

# needed for peg_generator:
types-psutil==7.2.1.20251231
types-setuptools==78.1.0.20250329
